.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100vw;
}

.container .search-section {
  width: 100%;
}

.container .article-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  box-sizing: border-box;
  max-height: 600px;
  overflow-y: auto;
}

@media (max-width: 600px) {
  .container .article-section {
    flex-direction: row;
    align-items: center;
  }

  .article-card {
    flex-basis: 100%;
  }
}
