.search-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-section .search-bar {
  padding: 0.5rem;
  background-color: #fdfdfd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.search-section .search-bar .custom-input {
  flex: 1;
  border: none;
}

.search-section .filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  width: 100%; /* Stretch to the container */
  padding: 10px;
  box-sizing: border-box;
}

.search-section .filter-container > * {
  margin-right: 10px;
  margin-bottom: 10px;
  flex-grow: 1; /* Distribute remaining space evenly */
}
